**/node_modules
**/dist
**/build
**/bundle
**/.venv
**/__pycache__
**/*.pyc
.env
.env.local
**/.env
**/.env.local
**/data/*.sqlite*
**/data/*.sqlite-journal
**/data/*.sqlite-wal
**/data/*.sqlite-shm
coverage/
*.log
.DS_Store
